/* If styling is required, add it here. */
body {
	background-color: #292933;
	color: #eee;
	font-family: sans-serif;
	margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content {
  margin:auto;
}
